# Please replace with your own values.
#
# @package dynamic-parameter-bundle
# @author Joseph LEMOINE <lemoine.joseph@gmail.com>
# @link http://www.joseph-lemoine.fr
parameters:
    database_driver:    pdo_mysql
    database_host:      localhost
    database_port:      ~
    database_name:      parameter
    database_user:      parameter
    database_password:  password

    jihel.plugin.dynamic_parameter.dynamic_parameter_cache: true
    jihel.plugin.dynamic_parameter.apache_parameter_cache:  false
    jihel.plugin.dynamic_parameter.table_prefix:            jihel_
